nearair_server_node-red.json
[
    {
        "id": "fa198e91.6a888",
        "type": "slack",
        "z": "6bd5f02.b953c1",
        "name": "nearair notification",
        "channelURL": "",
        "username": "nearair",
        "emojiIcon": "",
        "channel": "",
        "x": 1250,
        "y": 580,
        "wires": []
    },
    {
        "id": "7cfe4e14.95d2c",
        "type": "switch",
        "z": "6bd5f02.b953c1",
        "name": "location!=null",
        "property": "location",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 196.5,
        "y": 251.2381134033203,
        "wires": [
            [
                "1e92306.172cfd"
            ],
            [
                "2f9ecf99.3376d"
            ]
        ]
    },
    {
        "id": "1e92306.172cfd",
        "type": "switch",
        "z": "6bd5f02.b953c1",
        "name": "location.lat!=null",
        "property": "location.lat",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 385.5,
        "y": 240.2381134033203,
        "wires": [
            [
                "a85ccdbe.0166a"
            ],
            [
                "2f9ecf99.3376d"
            ]
        ]
    },
    {
        "id": "a85ccdbe.0166a",
        "type": "switch",
        "z": "6bd5f02.b953c1",
        "name": "location.lon!=null",
        "property": "location.lon",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 593.5,
        "y": 234.2381134033203,
        "wires": [
            [
                "d7af166b.7baff8",
                "8d5ffbb5.655c18",
                "94219b21.4d8368"
            ],
            [
                "2f9ecf99.3376d"
            ]
        ]
    },
    {
        "id": "8d6b11c5.caf56",
        "type": "worldmap",
        "z": "6bd5f02.b953c1",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSM grey",
        "cluster": "",
        "maxage": "999",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "x": 1030.5,
        "y": 423.2381134033203,
        "wires": []
    },
    {
        "id": "2f9ecf99.3376d",
        "type": "function",
        "z": "6bd5f02.b953c1",
        "name": "Detect Location Word",
        "func": "var array = [];\nvar word_data = global.get(\"words\");\n\nfor (var i=0; i<word_data.words.length;i++) {\n    if(msg.payload.match(word_data.words[i].word)){\n        var locationObject = {\n            lat: word_data.words[i].lat,\n            lon: word_data.words[i].lon\n        };\n        msg.location = locationObject;\n        msg.payload = \"[\" + word_data.words[i].word + \"] \" + msg.payload;\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 604.5,
        "y": 370.2381134033203,
        "wires": [
            [
                "d7af166b.7baff8",
                "8d5ffbb5.655c18",
                "94219b21.4d8368"
            ]
        ]
    },
    {
        "id": "b160adea.5c85e",
        "type": "inject",
        "z": "6bd5f02.b953c1",
        "name": "Periodical update",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "x": 111.33334350585938,
        "y": 132,
        "wires": [
            [
                "7b2dc1dd.690f4"
            ]
        ]
    },
    {
        "id": "7b2dc1dd.690f4",
        "type": "http request",
        "z": "6bd5f02.b953c1",
        "name": "Get data",
        "method": "GET",
        "ret": "txt",
        "url": "http://nearair.net/word/json.php",
        "tls": "",
        "x": 339.3333435058594,
        "y": 132,
        "wires": [
            [
                "50109704.e835d8"
            ]
        ]
    },
    {
        "id": "50109704.e835d8",
        "type": "json",
        "z": "6bd5f02.b953c1",
        "name": "Parse Data",
        "x": 500.8333435058594,
        "y": 132,
        "wires": [
            [
                "862c9f66.647a4"
            ]
        ]
    },
    {
        "id": "862c9f66.647a4",
        "type": "function",
        "z": "6bd5f02.b953c1",
        "name": "Set Location Word",
        "func": "global.set(\"words\", msg.payload);\n\nreturn msg.payload;",
        "outputs": 1,
        "noerr": 0,
        "x": 696.8333435058594,
        "y": 132,
        "wires": [
            []
        ]
    },
    {
        "id": "197f2835.629dd8",
        "type": "comment",
        "z": "6bd5f02.b953c1",
        "name": "No Location Data",
        "info": "",
        "x": 578.5,
        "y": 334.2381134033203,
        "wires": []
    },
    {
        "id": "fe229ccc.a06e8",
        "type": "inject",
        "z": "6bd5f02.b953c1",
        "name": "Get Location Word Data",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130.33334350585938,
        "y": 78,
        "wires": [
            [
                "7b2dc1dd.690f4"
            ]
        ]
    },
    {
        "id": "22f8f197.83c45e",
        "type": "mqtt in",
        "z": "6bd5f02.b953c1",
        "name": "GPS MQTT device(owntracks)",
        "topic": "owntracks/nhljjada/mqtt",
        "qos": "2",
        "broker": "e96958b.d05c4a8",
        "x": 130.21426391601562,
        "y": 499.2381210923195,
        "wires": [
            [
                "9db7bbb.a96a248"
            ]
        ]
    },
    {
        "id": "9db7bbb.a96a248",
        "type": "json",
        "z": "6bd5f02.b953c1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 337.49999809265137,
        "y": 499.2381301522255,
        "wires": [
            [
                "64bad8c1.ce7788",
                "37441d77.489872",
                "c873c94f.666d48"
            ]
        ]
    },
    {
        "id": "2a06f915.4fa036",
        "type": "inject",
        "z": "6bd5f02.b953c1",
        "name": "Create DB",
        "topic": "CREATE TABLE nearair (latitude REAL, longitude REAL, place TEXT, text TEXT);",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1035.5,
        "y": 240,
        "wires": [
            [
                "4acd0b39.e63784"
            ]
        ]
    },
    {
        "id": "d7af166b.7baff8",
        "type": "template",
        "z": "6bd5f02.b953c1",
        "name": "Insert",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO nearair VALUES ('{{location.lat}}', '{{location.lon}}', '{{location.place}}', '{{payload}}');",
        "output": "str",
        "x": 814,
        "y": 345,
        "wires": [
            [
                "4acd0b39.e63784"
            ]
        ]
    },
    {
        "id": "3287670c.13c218",
        "type": "inject",
        "z": "6bd5f02.b953c1",
        "name": "Select All",
        "topic": "SELECT * FROM nearair;",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1035,
        "y": 282,
        "wires": [
            [
                "4acd0b39.e63784"
            ]
        ]
    },
    {
        "id": "382101b5.21d4be",
        "type": "twitter in",
        "z": "6bd5f02.b953c1",
        "twitter": "",
        "tags": ".",
        "user": "false",
        "name": "",
        "topic": "tweets",
        "inputs": 0,
        "x": 51,
        "y": 251,
        "wires": [
            [
                "7cfe4e14.95d2c"
            ]
        ]
    },
    {
        "id": "64bad8c1.ce7788",
        "type": "template",
        "z": "6bd5f02.b953c1",
        "name": "Detect NearAir",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT * FROM nearair WHERE latitude BETWEEN {{payload.lat}}-0.05 AND {{payload.lat}}+0.05 AND longitude BETWEEN {{payload.lon}}-0.05 AND {{payload.lon}}+0.05;",
        "output": "str",
        "x": 836,
        "y": 581,
        "wires": [
            []
        ]
    },
    {
        "id": "4acd0b39.e63784",
        "type": "sqlite",
        "z": "6bd5f02.b953c1",
        "mydb": "969cfa4b.f7a248",
        "name": "NearAir sqlite DB",
        "x": 1054,
        "y": 345,
        "wires": [
            [
                "17187561.c6eafb"
            ]
        ]
    },
    {
        "id": "17187561.c6eafb",
        "type": "function",
        "z": "6bd5f02.b953c1",
        "name": "NearAirFilter (get data[0])",
        "func": "var data = msg.payload;\nif (data.length !== 0){\n    msg.payload = data[0].text;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1262.5,
        "y": 461,
        "wires": [
            [
                "87439574.4c0398"
            ]
        ]
    },
    {
        "id": "87439574.4c0398",
        "type": "switch",
        "z": "6bd5f02.b953c1",
        "name": "Not Null (=SELECT)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 1251.5,
        "y": 522,
        "wires": [
            [
                "fa198e91.6a888"
            ]
        ]
    },
    {
        "id": "8d5ffbb5.655c18",
        "type": "function",
        "z": "6bd5f02.b953c1",
        "name": "Set PIN",
        "func": "var pinObject = {\n    lat: msg.location.lat,\n    lon: msg.location.lon,\n    place: msg.location.place,\n    tweet: msg.payload,\n    name: msg.tweet.user.name,\n    icon: \"globe\",\n    iconColor: \"orange\"\n};\nvar payloadObject = { payload: pinObject };\nreturn payloadObject;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 300,
        "wires": [
            [
                "8d6b11c5.caf56"
            ]
        ]
    },
    {
        "id": "94219b21.4d8368",
        "type": "function",
        "z": "6bd5f02.b953c1",
        "name": "Move/Zoom",
        "func": "var commandObject = {\n        layer: \"OpenStreetMap Grayscale\",\n        lat: msg.location.lat,\n        lon: msg.location.lon,\n        zoom: 3\n    };\nvar payloadObject = { command: commandObject };\nvar newMsg = { payload: payloadObject };\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 260,
        "wires": [
            [
                "8d6b11c5.caf56"
            ]
        ]
    },
    {
        "id": "37441d77.489872",
        "type": "function",
        "z": "6bd5f02.b953c1",
        "name": "Move/Zoom",
        "func": "var commandObject = {\n        layer: \"OpenStreetMap Grayscale\",\n        lat: msg.payload.lat,\n        lon: msg.payload.lon,\n        zoom: 15\n    };\nvar payloadObject = { command: commandObject };\nvar newMsg = { payload: payloadObject };\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 460,
        "wires": [
            [
                "8d6b11c5.caf56"
            ]
        ]
    },
    {
        "id": "c873c94f.666d48",
        "type": "function",
        "z": "6bd5f02.b953c1",
        "name": "Set PIN",
        "func": "var pinObject = {\n    lat: msg.payload.lat,\n    lon: msg.payload.lon,\n    place: \"\",\n    tweet: \"\",\n    name: \"\",\n    icon: \"globe\",\n    iconColor: \"red\"\n};\nvar payloadObject = { payload: pinObject };\nreturn payloadObject;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 520,
        "wires": [
            [
                "8d6b11c5.caf56"
            ]
        ]
    },
    {
        "id": "e96958b.d05c4a8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "m14.cloudmqtt.com",
        "port": "19917",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "969cfa4b.f7a248",
        "type": "sqlitedb",
        "z": "",
        "db": "/Users/db/nearair.db"
    }
]