nearair_server_node-red.json
[
    {
        "id": "a0617eb1.91744",
        "type": "slack",
        "z": "f79c84cc.cd3278",
        "name": "nearair notification",
        "channelURL": "",
        "username": "nearair",
        "emojiIcon": "",
        "channel": "",
        "x": 1250,
        "y": 860,
        "wires": []
    },
    {
        "id": "ec0e31e8.dafec",
        "type": "switch",
        "z": "f79c84cc.cd3278",
        "name": "location!=null",
        "property": "location",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 196.5,
        "y": 531.2381134033203,
        "wires": [
            [
                "b599a6b7.3dac28"
            ],
            [
                "b6d5220d.596de"
            ]
        ]
    },
    {
        "id": "b599a6b7.3dac28",
        "type": "switch",
        "z": "f79c84cc.cd3278",
        "name": "location.lat!=null",
        "property": "location.lat",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 385.5,
        "y": 520.2381134033203,
        "wires": [
            [
                "d0f09c14.4ec2c"
            ],
            [
                "b6d5220d.596de"
            ]
        ]
    },
    {
        "id": "d0f09c14.4ec2c",
        "type": "switch",
        "z": "f79c84cc.cd3278",
        "name": "location.lon!=null",
        "property": "location.lon",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 593.5,
        "y": 514.2381134033203,
        "wires": [
            [
                "6dccd2d8.4dd35c",
                "a8188439.17cb98",
                "8cb55f39.91497"
            ],
            [
                "b6d5220d.596de"
            ]
        ]
    },
    {
        "id": "86c2323a.9c807",
        "type": "worldmap",
        "z": "f79c84cc.cd3278",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSM grey",
        "cluster": "",
        "maxage": "999",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "x": 1030.5,
        "y": 703.2381134033203,
        "wires": []
    },
    {
        "id": "b6d5220d.596de",
        "type": "function",
        "z": "f79c84cc.cd3278",
        "name": "Detect Location Word",
        "func": "var array = [];\nvar word_data = global.get(\"words\");\n\nfor (var i=0; i<word_data.words.length;i++) {\n    if(msg.payload.match(word_data.words[i].word)){\n        var locationObject = {\n            lat: word_data.words[i].lat,\n            lon: word_data.words[i].lon\n        };\n        msg.location = locationObject;\n        msg.payload = \"[\" + word_data.words[i].word + \"] \" + msg.payload;\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 604.5,
        "y": 650.2381134033203,
        "wires": [
            [
                "6dccd2d8.4dd35c",
                "a8188439.17cb98",
                "8cb55f39.91497"
            ]
        ]
    },
    {
        "id": "f4852189.20105",
        "type": "inject",
        "z": "f79c84cc.cd3278",
        "name": "Periodical update",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "x": 111.33334350585938,
        "y": 412,
        "wires": [
            [
                "3bbc63d8.145f1c"
            ]
        ]
    },
    {
        "id": "3bbc63d8.145f1c",
        "type": "http request",
        "z": "f79c84cc.cd3278",
        "name": "Get data",
        "method": "GET",
        "ret": "txt",
        "url": "http://nearair.net/word/json.php",
        "tls": "",
        "x": 339.3333435058594,
        "y": 412,
        "wires": [
            [
                "f7ddcb65.febd28"
            ]
        ]
    },
    {
        "id": "f7ddcb65.febd28",
        "type": "json",
        "z": "f79c84cc.cd3278",
        "name": "Parse Data",
        "x": 500.8333435058594,
        "y": 412,
        "wires": [
            [
                "9540ec32.b3028"
            ]
        ]
    },
    {
        "id": "9540ec32.b3028",
        "type": "function",
        "z": "f79c84cc.cd3278",
        "name": "Set Location Word",
        "func": "global.set(\"words\", msg.payload);\n\nreturn msg.payload;",
        "outputs": 1,
        "noerr": 0,
        "x": 696.8333435058594,
        "y": 412,
        "wires": [
            []
        ]
    },
    {
        "id": "ad03bf1f.35f24",
        "type": "comment",
        "z": "f79c84cc.cd3278",
        "name": "No Location Data",
        "info": "",
        "x": 578.5,
        "y": 614.2381134033203,
        "wires": []
    },
    {
        "id": "5a52c473.6da4dc",
        "type": "inject",
        "z": "f79c84cc.cd3278",
        "name": "Get Location Word Data",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130.33334350585938,
        "y": 358,
        "wires": [
            [
                "3bbc63d8.145f1c"
            ]
        ]
    },
    {
        "id": "16787bad.319de4",
        "type": "mqtt in",
        "z": "f79c84cc.cd3278",
        "name": "GPS MQTT device(owntracks)",
        "topic": "owntracks/nhljjada/mqtt",
        "qos": "2",
        "broker": "e96958b.d05c4a8",
        "x": 130.21426391601562,
        "y": 779.2381210923195,
        "wires": [
            [
                "3db67689.eb70aa"
            ]
        ]
    },
    {
        "id": "3db67689.eb70aa",
        "type": "json",
        "z": "f79c84cc.cd3278",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 337.49999809265137,
        "y": 779.2381301522255,
        "wires": [
            [
                "ef2f67da.06cec8",
                "2f0de364.b80e8c",
                "1df79df1.7497e2"
            ]
        ]
    },
    {
        "id": "19cdc40b.95e8dc",
        "type": "inject",
        "z": "f79c84cc.cd3278",
        "name": "Create DB",
        "topic": "CREATE TABLE nearair (latitude REAL, longitude REAL, place TEXT, text TEXT);",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1035.5,
        "y": 520,
        "wires": [
            [
                "293d198.506ece6"
            ]
        ]
    },
    {
        "id": "6dccd2d8.4dd35c",
        "type": "template",
        "z": "f79c84cc.cd3278",
        "name": "Insert",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO nearair VALUES ('{{location.lat}}', '{{location.lon}}', '{{location.place}}', '{{payload}}');",
        "output": "str",
        "x": 814,
        "y": 625,
        "wires": [
            [
                "293d198.506ece6"
            ]
        ]
    },
    {
        "id": "de0d2820.56ae08",
        "type": "inject",
        "z": "f79c84cc.cd3278",
        "name": "Select All",
        "topic": "SELECT * FROM nearair;",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1035,
        "y": 562,
        "wires": [
            [
                "293d198.506ece6"
            ]
        ]
    },
    {
        "id": "bd0a815d.c9a9f",
        "type": "twitter in",
        "z": "f79c84cc.cd3278",
        "twitter": "",
        "tags": ".",
        "user": "false",
        "name": "",
        "topic": "tweets",
        "inputs": 0,
        "x": 51,
        "y": 531,
        "wires": [
            [
                "ec0e31e8.dafec"
            ]
        ]
    },
    {
        "id": "ef2f67da.06cec8",
        "type": "template",
        "z": "f79c84cc.cd3278",
        "name": "Detect NearAir",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT * FROM nearair WHERE latitude BETWEEN {{payload.lat}}-0.05 AND {{payload.lat}}+0.05 AND longitude BETWEEN {{payload.lon}}-0.05 AND {{payload.lon}}+0.05;",
        "output": "str",
        "x": 836,
        "y": 861,
        "wires": [
            [
                "293d198.506ece6"
            ]
        ]
    },
    {
        "id": "293d198.506ece6",
        "type": "sqlite",
        "z": "f79c84cc.cd3278",
        "mydb": "969cfa4b.f7a248",
        "name": "NearAir sqlite DB",
        "x": 1054,
        "y": 625,
        "wires": [
            [
                "ef7d343a.8ad338"
            ]
        ]
    },
    {
        "id": "ef7d343a.8ad338",
        "type": "function",
        "z": "f79c84cc.cd3278",
        "name": "NearAirFilter (get data[0])",
        "func": "var data = msg.payload;\nif (data.length !== 0){\n    msg.payload = data[0].text;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1262.5,
        "y": 741,
        "wires": [
            [
                "b810e66d.42ee68"
            ]
        ]
    },
    {
        "id": "b810e66d.42ee68",
        "type": "switch",
        "z": "f79c84cc.cd3278",
        "name": "Not Null (=SELECT)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 1251.5,
        "y": 802,
        "wires": [
            [
                "a0617eb1.91744"
            ]
        ]
    },
    {
        "id": "a8188439.17cb98",
        "type": "function",
        "z": "f79c84cc.cd3278",
        "name": "Set PIN",
        "func": "var pinObject = {\n    lat: msg.location.lat,\n    lon: msg.location.lon,\n    place: msg.location.place,\n    tweet: msg.payload,\n    name: msg.tweet.user.name,\n    icon: \"globe\",\n    iconColor: \"orange\"\n};\nvar payloadObject = { payload: pinObject };\nreturn payloadObject;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 580,
        "wires": [
            [
                "86c2323a.9c807"
            ]
        ]
    },
    {
        "id": "8cb55f39.91497",
        "type": "function",
        "z": "f79c84cc.cd3278",
        "name": "Move/Zoom",
        "func": "var commandObject = {\n        layer: \"OpenStreetMap Grayscale\",\n        lat: msg.location.lat,\n        lon: msg.location.lon,\n        zoom: 3\n    };\nvar payloadObject = { command: commandObject };\nvar newMsg = { payload: payloadObject };\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "2f0de364.b80e8c",
        "type": "function",
        "z": "f79c84cc.cd3278",
        "name": "Move/Zoom",
        "func": "var commandObject = {\n        layer: \"OpenStreetMap Grayscale\",\n        lat: msg.payload.lat,\n        lon: msg.payload.lon,\n        zoom: 15\n    };\nvar payloadObject = { command: commandObject };\nvar newMsg = { payload: payloadObject };\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "1df79df1.7497e2",
        "type": "function",
        "z": "f79c84cc.cd3278",
        "name": "Set PIN",
        "func": "var pinObject = {\n    lat: msg.payload.lat,\n    lon: msg.payload.lon,\n    place: \"\",\n    tweet: \"\",\n    name: \"\",\n    icon: \"globe\",\n    iconColor: \"red\"\n};\nvar payloadObject = { payload: pinObject };\nreturn payloadObject;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 800,
        "wires": [
            [
                "86c2323a.9c807"
            ]
        ]
    },
    {
        "id": "e96958b.d05c4a8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "m14.cloudmqtt.com",
        "port": "19917",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "969cfa4b.f7a248",
        "type": "sqlitedb",
        "z": "",
        "db": "/Users/db/nearair.db"
    }
]