nearair_server_node-red.json
[{"id":"efd71421.ecf1b8","type":"twitter in","z":"22467f98.03344","twitter":"","tags":".","user":"false","name":"","topic":"tweets","inputs":0,"x":77.5,"y":56,"wires":[["c49a20c4.adf72"]]},{"id":"c49a20c4.adf72","type":"switch","z":"22467f98.03344","name":"location!=null","property":"location","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":221.5,"y":56,"wires":[["28162476.af963c"],["1c5e9268.0d6f5e"]]},{"id":"28162476.af963c","type":"switch","z":"22467f98.03344","name":"location.lat!=null","property":"location.lat","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":396.5,"y":52,"wires":[["36fb0070.f242b"],["1c5e9268.0d6f5e"]]},{"id":"36fb0070.f242b","type":"switch","z":"22467f98.03344","name":"location.lon!=null","property":"location.lon","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":587.5,"y":50,"wires":[["3e891c8e.19ae04","160f9cf6.d511d3"],["1c5e9268.0d6f5e"]]},{"id":"3e891c8e.19ae04","type":"template","z":"22467f98.03344","name":"Move/Zoom","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"command\":{\n        \"layer\":\"Esri Terrain\",\n        \"lat\":\"{{location.lat}}\",\n        \"lon\":\"{{location.lon}}\",\n        \"zoom\":\"3\"\n        }\n}","output":"json","x":859.5,"y":64,"wires":[["16cdb045.2d5c3"]]},{"id":"160f9cf6.d511d3","type":"template","z":"22467f98.03344","name":"Set PIN","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"lat\": \"{{location.lat}}\",\n\"lon\": \"{{location.lon}}\",\n\"place\":\"{{location.place}}\",\n\"tweet\":\"{{payload}}\",\n\"name\":\"{{tweet.user.name}}\",\n\"icon\":\"globe\",\n\"iconColor\":\"orange\"\n}","output":"json","x":849.5,"y":105,"wires":[["16cdb045.2d5c3"]]},{"id":"16cdb045.2d5c3","type":"worldmap","z":"22467f98.03344","name":"","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"999","usermenu":"show","layers":"show","panit":"false","x":1045.5,"y":81,"wires":[]},{"id":"1c5e9268.0d6f5e","type":"function","z":"22467f98.03344","name":"Detect Location Word","func":"var array = [];\nvar word_data = global.get(\"words\");\n\nfor (var i=0; i<word_data.words.length;i++) {\n    if(msg.payload.match(word_data.words[i].word)){ \n        msg.location.lat = word_data.words[i].lat;\n        msg.location.lon = word_data.words[i].lon;\n        msg.payload = \"[\" + word_data.words[i].word + \"] \" + msg.payload;\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":629.5,"y":175,"wires":[["3e891c8e.19ae04","160f9cf6.d511d3"]]},{"id":"6f7fc785.63fc28","type":"inject","z":"22467f98.03344","name":"Get Location Data","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"x":138,"y":292,"wires":[["bf991dfc.908b7"]]},{"id":"bf991dfc.908b7","type":"http request","z":"22467f98.03344","name":"Get data","method":"GET","ret":"txt","url":"http://nearair.net/word/json.php","tls":"","x":323,"y":292,"wires":[["ba27c228.9b599"]]},{"id":"ba27c228.9b599","type":"json","z":"22467f98.03344","name":"Parse Data","pretty":false,"x":507.5,"y":292,"wires":[["1b25a3c3.9dc46c"]]},{"id":"1b25a3c3.9dc46c","type":"function","z":"22467f98.03344","name":"Set Location Word","func":"global.set(\"words\", msg.payload);\n\nreturn msg.payload;","outputs":1,"noerr":0,"x":718.5,"y":291,"wires":[[]]},{"id":"43f10e10.cf581","type":"comment","z":"22467f98.03344","name":"No Location Data","info":"","x":603.5,"y":139,"wires":[]}]